<div class="row" *ngIf="isLogined">
	<div class="col-sm-10 text-left">
		<div class="router-links breadcrumb">
			<a [routerLinkActive]="['active']" [routerLink]="['./courses']" title="Courses">Courses</a> &#47;
			<!--<a [routerLinkActive]="['active']" [routerLink]="['./course']" title="Course">Course edit</a>-->
			<!--<a [routerLinkActive]="['active']" [routerLink]="['./course']" [routerLink]="['./new']" title="Course">Course new</a>-->

		</div>
	</div>
	<div class="col-sm-2 text-right">
		<span>{{userInfo}}</span>
		<a href="#/login" (click)="logOut($event)">logoff</a>
	</div>
</div>
<a *ngIf="!isLogined">login</a>


