html {
	font-size: 12px;
}

body {
	margin: 0;
	font-size: 1.4rem;
}

app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;  /* высота веб-страницы больше или равна высоте окна браузера */
}

main {
	flex: 1;  /* если содержимое body меньше высоты окна, то main будет растянут до нужной величины */
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

a:hover,
button:hover {
	cursor:pointer;
}

.full-width {
	width: 100%;
}

.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
	border-left: 5px solid #a94442; /* red */
}

.alert {
	margin: 5px 0 0 0;
	padding: 7px 15px;
}
