<!--<nav class="main-navbar">
	<div class="container">
		<div class="logo">
			<div class="logo-title">To do</div>
			<div class="logo-sub-title">You will make it in time</div>
		</div>
		<div class="menu">
			<div class="menu-item" [routerLink]="'home'" routerLinkActive="active">Home</div>
			<div class="menu-item" [routerLink]="'pageone'" routerLinkActive="active">Page 1</div>
			<div class="menu-item" [routerLink]="'pagetwo'" routerLinkActive="active">Page 2</div>
		</div>
	</div>
</nav>-->

<header>
	<div class="container">
		<div id="cources" class="bordered">
			<a href="#"># cources</a>
		</div>
		<div class="row top-component">
			<div class="col-sm-10">
				<img src="assets/icon/android-icon-72x72.png">
				<span class="logo">Logo</span>
				<button>Courses</button>
			</div>
			<div class="col-sm-2 text-right">
				<div class="user-info">
					<a href="#">user</a>
					<a href="#">login</a>
				</div>
				<div class="user-actions">
					<a href="#">logoff</a>
				</div>
			</div>
		</div>
	</div>
</header>
