<div class="course-item">
	<div class="row">
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-3">Video course</div>
				<div class="col-sm-1">1</div>
				<div class="col-sm-2">1h 28min</div>
				<div class="col-sm-6 text-right">date</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum urna quis nisl mattis bibendum. Suspendisse eget turpis eleifend, euismod turpis sit amet, eleifend nibh.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-2 text-right">
			<button class="margin-bottom" style="width: 100%">Edit course</button><br>
			<button style="width: 100%">Delete</button>
		</div>
	</div>
</div>
