@import "../../../styles/variables/colors.scss";
@import "../../../styles/mixin.scss";

.course-item {
	padding: 10px;
	border: 1px solid $c-tropaz;
	@extend .margin-bottom;
}

.course-bref {
	margin-bottom: 10px;
}
