<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-end">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete <strong>"{{courseTitle | uppercase }}"</strong> course?</p>
				<p class="text-warning"><small>If you don't save, your changes won't be lost.</small></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCourse();">Delete</button>
			</div>
		</div>
	</div>
</div>
