<div class="home-page">
	<course-control-panel (change)="filterCourseQuery($event);"></course-control-panel>
	<loader *ngIf="isSpinner"></loader>

	<div class="course-list">
		<!--<course-item *ngFor="let courseItem of (courses | sortByCreatedDate | sortByInput: courseQuery)" [init]="courseItem" (change)="deleteCourseItem($event);"></course-item>-->
		<course-item *ngFor="let courseItem of (courses | sortByInput: courseQuery)" [init]="courseItem" (change)="deleteCourseItem($event);"></course-item>
	</div>
	<div *ngIf="(courses)?.length==0" class="alert alert-success">No data. Feel free to add a new course.</div>
	<div *ngIf="isLoading">Is loading...</div>

	<nav aria-label="pagination">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>

</div>
<modal (change)="deleteCourseItemAction($event);" [deletedItem] = "deletedItem"></modal>
