<div class="home-page">
	<course-control-panel (change)="filterCourseQuery($event);"></course-control-panel>
	<loader *ngIf="isLoader"></loader>

	<div class="course-list">
		<course-item *ngFor="let courseItem of courses" [init]="courseItem" (change)="deleteCourseItem($event);"></course-item>
		<!--<course-item *ngFor="let courseItem of (courses | sortByInput: courseQuery)" [init]="courseItem" (change)="deleteCourseItem($event);"></course-item>-->
		<!--<course-item *ngFor="let courseItem of courses" [init]="courseItem" (change)="deleteCourseItem($event);"></course-item>-->
	</div>
	<div *ngIf="(courses)?.length==0" class="alert alert-success">No data. Feel free to add a new course.</div>
	<div *ngIf="isLoading">Is loading...</div>

	<div class="row">
		<div class="col-sm-2"><button id="add-more-btn" class="full-width btn btn-info" (click)="addMoreCourses()">ADD MORE</button></div>
	</div>

</div>
<modal (change)="deleteCourseItemAction($event);" [course] = "course"></modal>
